
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">




    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <!--header class="page-header" -->

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/resume.pdf" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <!-- Contact buttons don't work in print, configure in the _config.yml file, remove "print-only" to display always. -->
        <div class="header-contact-info" itemprop="contact-info">
          <p><a style="text-decoration:none;" href="https://www.google.com/maps/place/Cedar+Rapids,+IA" target="_blank">{{ site.resume_header_location }}</a> | <a style="text-decoration:none;" href="tel:{{ site.resume_header_phone}}">{{ site.resume_header_phone }} </a> | <a style="text-decoration:none;" href="mailto:{{ site.resume_contact_email }}">{{ site.resume_contact_email }}</a></p>
        </div>



        <div class="title-bar no-print">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary no-print" itemprop="description">
          <p> I am a professional data scientist and expert statistician with a passion for using data to solve complex problems. I am fluent in R, Python, Excel, and a variety of other protocols/languages used to extract insights from data. I hold a Masters in Statistics(Cum Laude distinction) with prior experience managing enterprise storage systems.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 300px; float: left;"> <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a> </div>
          <div style="margin-left: 320px;"> <a href="images/resume.pdf" download="andy_boutte_resume" class="contact-button no-print" itemprop="email">Download Resume</a> </div>
        </div>


        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      <!--/header -->

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">KU Leuven (Belgium)</h3>
          <h4 class="resume-item-details" itemprop="description">Master of Science in Statistics &bull; 2017 &mdash; 2019</h4>
          <ul class="resume-item-list">
            <li>Completed an interdisciplinary program, accredited by the Royal Statistics Society (UK), with Cum Laude
  distinction.</li>
            <li>Courses: Multivariate Analysis, Mixed Models, Generalized Linear Models, Survival Analysis, Time Series
  Analysis, Experimental Design, Optimization, Machine Learning, and Artificial Neural Networks.</li>
          </ul>

          <h4 class="resume-item-details" itemprop="description">Master thesis: Reliability Analysis of Mechanical Equipment in a Cement Production Plant</h4>
          <ul class="resume-item-list">
            <li>Developed an integrated predictive model (accounting for event history, condition monitoring, and production
  throughput) used it to identify the reliability of the mechanical equipment, and made maintenance-specific
  recommendations to improve reliability.</li>
            <li>Used R and Python, to perform extensive preprocessing, cleaning, transformation, and integration of 3 years
  of stoppage records, vibration measurements, and monthly production totals coming from flat files of various
  formats (HTML, Excel).</li>
            <li>Performed extensive feature extraction including text mining, natural language processing, and part-ofspeech
  tagging to identify the failure mechanism, maintenance action, and repair status for each failure
  event.</li>
            <li>Performed a criticality analysis (identifying cement mills and fans as the most critical equipment), disproved
  presence of trend in inter-failure durations, and identified the potential for event clustering.</li>
            <li>Estimated semi-parametric (stratified extended Cox) and fully parametric (accelerated failure time) models
  and determined that decreasing production load and replacing (compared to repairing) broken components
  significantly decreased the risk of failures in cement mills and fans.</li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">University of Michigan</h3>
          <h4 class="resume-item-details" itemprop="description">Bachelor of Science in Informatics &bull; 2009 &mdash; 2014</h4>
          <ul class="resume-item-list">
            <li>Through the Informatics program, I explored a cross-disciplinary approach to the intersection of technology
and human interaction. I learned concepts including complex networks (technical and relational), statistics,
mathematics, data analysis, usability, and object-oriented programming.</li>
</ul>
        </div>
      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">ADP</h3>
          <h4 class="resume-item-details" itemprop="description">Infrastructure and Operations Analyst &bull; 2014 - 2017</h4>
          <p><h4 class="resume-item-details" itemprop="description">Key Responsibilities:</h4></p>
          <ul class="resume-item-list">
            <li>Remotely managed all enterprise-level storage arrays and Fibre Channel infrastructure within two Tier-4
data centers, supporting all of ADP’s internal and externally hosted suite of products.</li>
            <li>Coordinated with vendors to troubleshoot issues and ensure storage hardware/firmware is supported in
accordance with established maintenance cycles, repair practices, and change control.</li>
            <li>Collaborated with Service Management to design and implement purpose-driven performance and capacity
reports in order to protect Service Level Agreements, and prevent outages of business critical and clientfacing
applications.</li>
          </ul>
        </div>



        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">ADP</h3>
          <h4 class="resume-item-details" itemprop="description">Enterprise Storage Intern &bull; 2013 - 2014</h4>
          <p><h4 class="resume-item-details" itemprop="description">Key Responsibilities:</h4></p>
          <ul class="resume-item-list">
            <li>Developed internal performance monitoring application by aggregating data streams from 37 proprietary
Network Attached Storage (NAS) arrays across multiple data centers, performing statistical analysis in R,
and distributing via an interactive web interface.</li>
            <li>Created unique performance profiles detailing latency, CPU utilization, and network throughput of ADP
products by aggregating data from the underlying storage arrays dispersed across multiple data centers.</li>
            <li>Collected performance and capacity data from NAS and SAN storage arrays for long-term benchmarking,
historical investigation, and real-time management.</li>
          </ul>
        </div>


      </section>
      <!-- end Experience -->
      {% endif %}


      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">NTP Pool Project</h3>
          <h4 class="resume-item-details">NTP Server Operator</h4>
          <p class="resume-item-copy">The <a href="http://www.pool.ntp.org/en/">NTP Pool Project</a> is the largest organization of NTP servers in the world and is used by millions of systems worldwide.  To give back to the NTP Pool community I donate a <a href="http://www.pool.ntp.org/scores/52.37.145.131">server</a> that is apart of the NTP Pool.  I also created a <a href="https://github.com/aboutte/ntppool_deployment">turn key solution</a> for deploying a NTP server in AWS.</p>
        </div>




      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>
        <div class="resume-item">
          <h4 class="skills-resume-item-details">AWS</h4>
          <p class="resume-item-copy">For the last several years I have been working in AWS.  Services that I use on a regular basis include:</p>
          <ul class="two-columns">
            <li>Auto Scaling Groups</li>
            <li>CloudFormation</li>
            <li>CloudFront</li>
            <li>CloudWatch</li>
            <li>DynamoDB</li>
            <li>EC2</li>
            <li>ElastiCache</li>
            <li>Elastic Load Balancing</li>
            <li>IAM</li>
            <li>Lambda</li>
            <li>Launch Configurations</li>
            <li>Route53</li>
            <li>S3</li>
            <li>SQS</li>
            <li>VPC</li>
          </ul>
        </div>

        <div class="resume-item">
          <h4 class="skills-resume-item-details">Architecting Cloud Solutions</h4>
          <p class="resume-item-copy">Design and build fault tolerant application deployments utilizing DevOps tools including Chef and CloudFormation.</p>
        </div>

        <div class="resume-item">
          <h4 class="skills-resume-item-details">Virtual Router</h4>
          <p class="resume-item-copy">Professional experience using Sophos and Cisco CSR for routing, firewall, BGP, and VPNs.</p>
        </div>

        <div class="resume-item">
          <h4 class="skills-resume-item-details">Lifecycle Management of Deployments</h4>
          <p class="resume-item-copy">Manage all aspects of production including: EC2, OS, web server software, VPNs, DNS, routing, security groups, and ACLs.</p>
        </div>

        <div class="resume-item">
          <h4 class="skills-resume-item-details">Colocation to AWS Migrations</h4>
          <p class="resume-item-copy">Executed a multi year, zero downtime migration from a colocation in AWS.</p>
        </div>



      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Certifications</h2>
        </header>

                <div class="resume-item">
          <h3 class="resume-item-title">AWS Certified Cloud Practitioner</h3>
          <!--<h4 class="resume-item-details"></h4>-->
          <p class="resume-item-copy">K78SD4Y21MEE1ZWC &bull; August 31, 2018 - August 31, 2020</p>
        </div>



      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line"><a href="images/resume.pdf"></a></p>
      </footer>

    </div>
  {% if jekyll.environment == 'production' %}
  {% endif %}



      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
